{% extends "admin/cms/page/plugin/change_form.html" %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/mode/htmlmixed/htmlmixed.min.js"></script>

    <script type="text/javascript">
        (function(){
            var $ = django.jQuery;
            $(document).ready(function(){
                $('textarea#id_body').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
                $('textarea#id_body_left').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
                $('textarea#id_body_right').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
                $('textarea#id_body_middle').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
                $('textarea#id_body_middle_left').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
                $('textarea#id_body_middle_right').each(function(idx, el){
                    CodeMirror.fromTextArea(el, {
                        lineNumbers: true,
                        mode: 'htmlmixed',
                        lineWrapping: true
                    });
                });
            });
        })();
    </script>
{% endblock %}

